::-webkit-scrollbar {
  display: none;
}

.routes-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #CAD2C5;
}

p {
  line-height: 2;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 1rem;
}
